
<form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter your name...">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" placeholder="Enter your e-mail id...">
  <label for="location">Location</label>
  <input type="text" class="form-control" id="location" placeholder="Enter your location...">
<label for="id">ID:</label>
<input type="text" class="form-control" id="id" placeholder="Enter your ID...">
</div>

<button class="btn btn-large btn-success" (click)=submitrequest()> Submit Scoresheet</button>

</form>